---
import "../styles/main.css";

import Hero from "@layouts/Hero.svelte";
import Offer from "@layouts/Offer.svelte";
import Work from "@layouts/Work.svelte";
import Steps from "@layouts/Steps.astro";
import Values from "@layouts/Values.svelte";
import Questions from "@layouts/Questions.svelte";
import Contact from "@layouts/Contact.svelte";

const langList = [
	{ value: "eng", name: "English", isDefault: true },
	{ value: "pol", name: "Polish", isDefault: false },
];
const navLinks = [
	{ name: "Oferta", id: "offer" },
	{ name: "FAQ", id: "questions" },
	{ name: "Kontakt", id: "contact" },
];
const socialLinks = [
	{
		name: "Facebook",
		href: "https://www.facebook.com/nazar.poplawski/",
		image: "/assets/facebook.svg",
	},
	{
		name: "LinkedIn",
		href: "https://www.linkedin.com/in/poplawski/",
		image: "/assets/linkedin.svg",
	},
];
const workList = [
	{ title: "Abruzzo ", tags: ["Re-design", "Web Design"], image: "/assets/works/abruzzo.png", url: "https://abruzzo.com.pl/" },
	{ title: "Project 2", tags: ["Coding", "Web Design"], image: "/assets/works/abruzzo.png", url: "" },
	{ title: "Project 3", tags: ["3D", "AR"], image: "/assets/works/abruzzo.png", url: "" },
];
const valuesList = [
	{
		title: "Strony przyjazne SEO",
		desc: "Dla lepszego wyniku w wyszukiwarce",
		image: "/assets/pros/seo.svg",
	},
	{
		title: "Szybkie ładowanie witryn",
		desc: "Nawet przy słabym zasięgu Internetu",
		image: "/assets/pros/speed.svg",
	},
	{
		title: "Projektowanie responsywne",
		desc: "Dla dostępności na urządzeniach mobilnych",
		image: "/assets/pros/responsive.svg",
	},
	{
		title: "Wsparcie klientów",
		desc: "Do 6 miesięcy po publikacji projektu",
		image: "/assets/pros/support.svg",
	},
];
const stepsList = [
	{
		title: "Kontakt",
		desc: "Skontaktuj się ze mną, opisz swoje potrzeby dotyczące strony internetowej, a ja przedstawię Ci wstępną wycenę.",
		image: "/assets/steps/letter.svg",
		isCTA: true,
	},
	{
		title: "Znajomość",
		desc: "Poznaję Cię i Twoją działalność. Zbieram materiały potrzebne do pracy (teksty, zdjęcia). Ustalasz cele dla witryny, które chcesz osiągnąć.",
		image: "/assets/steps/chat.svg",
		isCTA: false,
	},
	{
		title: "Projektowanie",
		desc: "Tworzę tzw. szkielet witryny. Względne obrysy komponentów znajdują swoje miejsce na stronie.",
		image: "/assets/steps/puzzle.svg",
		isCTA: false,
	},
	{
		title: "Design",
		desc: "Strona nabiera kolorów, pojawia się rzeczywisty tekst, zaplanowane zdjęcia. Witryna staje się żywsza za pomocą animacji.",
		image: "/assets/steps/palette.svg",
		isCTA: false,
	},
	{
		title: "Programowanie",
		desc: "Wizualną część przenoszę w postać kodu. Pojawia się funkcjonał. Witrynę można wypróbować w przeglądarce własnego komputera lub telefonu.",
		image: "/assets/steps/code.svg",
		isCTA: false,
	},
	{
		title: "Publikacja",
		desc: "Dobieramy odpowiednią domenę. Puszczamy stronę online, by cieszyła twoich klientów.",
		image: "/assets/steps/monitor.svg",
		isCTA: false,
	},
];
const questionsList = [
	{ id: 0, question: "Czy wystawiam faktury?", answer: "Tak, wystawiam faktury VAT." },
	{
		id: 1,
		question: "Jaka jest cena projektu?",
		answer:
			"Cena projektu uzależniona jest od jego skali i złożoności. Zapraszam do kontaktu, abym mógł przygotować dla Ciebie indywidualną ofertę.",
	},
	{
		id: 2,
		question: "Jak długo trwa proces tworzenia witryny?",
		answer: "Czas trwania projektu zależy od jego skali i złożoności. Zazwyczaj trwa od 2 do 4 tygodni.",
	},
	{
		id: 3,
		question: "Jaka jest cena poprawek?",
		answer:
			"Poprawki są wliczone w cenę projektu. Jednakże, poprawki po upłynięciu 6-miesięcznego okresu wsparcia technicznego są płatne.",
	},
];
---

<html lang="pl" class="scroll-smooth bg-slate-900 text-white">
	<head>
		<!-- Website -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<!-- About -->
		<title>Nazar Popławski</title>
		<meta
			name="description"
			content="Cześć, jestem Nazar! Zajmuję się tworzeniem stron internetowych. Ukończyłem studia na kierunku Grafiki Reklamowej i Multimediów w Krakowie, aby wykorzystać swoje umiejętności w praktyce. Po zakończeniu studiów zacząłem uczyć się programowania, aby lepiej zrozumieć, jak tworzyć strony w życiu. Moim następnym krokiem jest nawiązanie współpracy z przedsiębiorcami, by pomagać im w rozwoju ich własnej działalności. Oferuję stworzenie zarówno estetycznych, jak i funkcjonalnych stron internetowych, które spełniają wymagania Twoich klientów."
		/>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<meta property="og:image" content="/assets/facebook_banner.jpg" />
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nothing+You+Could+Do&display=fallback"
			rel="preload stylesheet"
			as="style"
		/>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="overflow-x-hidden bg-smooth-gradient">
		<Hero navLinks={navLinks} socialLinks={socialLinks} client:only="svelte" />
		<Offer />
		<Steps stepsList={stepsList} />
		<Values valuesList={valuesList} />
		<!-- <Work workList={workList} /> -->
		<Questions questionsList={questionsList} client:only="svelte" />
		<Contact />
		<!-- <script src="../scripts/intersect.js"></script> -->
		<!-- <script src="../scripts/onMouseGlow.js"></script> -->
		<!-- <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script> -->
		<script defer src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"></script>
	</body>
</html>
