---
import Title from "../components/Title.astro";
import StepCard from "../components/StepCard.astro";

const { stepsList } = Astro.props;
let currentStep = 1;

// const slider = document.getElementById("slider");

function scrollNext() {
  console.log("asd");
}
---

<section class="flex flex-col items-center w-full py-12 bg-slate-900 md:py-16">
  <div class="flex flex-col items-center w-full gap-x-8">
    <Title text="Etapy Działania" />
    <div
      id="slider"
      class="w-full items-start mb-8 paddings lg:px-[max(calc((100vw-1152px)/2),theme(spacing.8))] snap-x snap-mandatory overflow-x-scroll overscroll-x-contain scroll-px-6 md:scroll-px-12 lg:scroll-px-[max(calc((100vw-1152px)/2),theme(spacing.8))]"
    >
      <ul class="grid grid-flow-col w-fit gap-5 md:gap-8">
        {
          stepsList?.map((_step) => (
            <StepCard
              title={_step.title}
              desc={_step.desc}
              image={_step.image}
            />
          ))
        }
      </ul>
    </div>
    <div class="flex flex-row gap-6 items-center">
      <img src="/arrow.svg" alt="" class="rotate-180" />
      <h5 class="text-slate-600">{currentStep} z {stepsList?.length}</h5>
      <button onclick="scrollNext() {console.log('asd')}">
        <img src="/arrow.svg" alt="" />
      </button>
    </div>
  </div>
</section>
